@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif !important;
}
a {
  text-decoration: none;
}

/* Next and prev button  */

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
  z-index: 10 !important;
  width: auto !important;
  height: 50px !important;
  background: #f9004d !important;
  color: white !important;
  border-radius: 50% !important;
  padding: 20px !important;
  font-size: 2rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15) !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important; /* Adjust size as needed */
  font-weight: bold;
  
}

.swiper-button-prev{
    margin-left: 10px !important;
}
.swiper-button-next{
    margin-right: 10px !important;
}
.swiper-button-next
/* Bullet circle */

/* Move pagination bullets below */
.swiper-pagination-bullets {
  bottom: -50px !important;
  text-align: center;
}

/* Style bullets */
.swiper-pagination-bullet {
  background: #ff80a8 !important;
  opacity: 0.5 !important;
  width: 15px !important;
  height: 15px !important;
  margin: 0 5px !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.2) !important;
  background-color: #e60049 !important;
}
